/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/artifacts
/.venv
__pycache__/
*.hap
*.app
*.har
*.hsp
*.p12
*.pfx
*.p7b
*.pem
*.key
*.cer
*.jks
*.keystore
.env
.env.*
!.env.example
.pytest_cache/
